<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>



<title>Editar Elemento</title>
</head>
<body>
<div class="container">
<nav class="navbar navbar-dark bg-primary">
  		 <form class="form-inline">
   			<a th:href="@{/}"><button type="button" class="btn btn-primary">Listado</button></a>
   			<a th:href="@{/addElement}"><button type="button" class="btn btn-primary">Añadir</button></a>
   			<button type="button" class="btn btn-primary"><span th:text=${#authentication.name}></span></button>
   			<a th:href="@{/logout}"><button type="button" class="btn btn-primary">Log Out</button></a>
 
 		 </form>
 	</nav>
	<form class="form-horizontal" action="#" th:action="@{/editElement/submit}" 
	  th:object="${element}" method="POST">
		<fieldset>

			<!-- Form Name -->
			<legend>Editar Elemento</legend>
			<input id="id" th:field="*{id}" name="id" type="number" hidden>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name1">Nombre:</label>
				<div class="col-md-4">
					<input id="name1" th:field="*{name}" name="name1" type="text" placeholder="nombre"
						class="form-control input-md" required=""> <span
						class="help-block">Nombre del elemento</span>
				</div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="description">Descripción:</label>
				<div class="col-md-4">
					<input id="description" th:field="*{description}" name="description" type="text" placeholder="descripción"
						class="form-control input-md" required=""> <span
						class="help-block">Descripción del elemento</span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="price">Precio:</label>
				<div class="col-md-4">
					<input id="price" th:field="*{price}" name="price" type="number" min=0 step="any" placeholder="precio dos decimales"
						class="form-control input-md" required=""> <span
						class="help-block">Precio del elemento</span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="stock">Stock:</label>
				<div class="col-md-4">
					<input id="stock" th:field="*{stock}" name="stock" type="number" min= 0 placeholder="stock"
						class="form-control input-md" required=""> <span
						class="help-block">Stock del elemento</span>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="category">Categoria:</label>
				<div class="col-md-4">
					<input id="stock" th:field="*{category}" name="category" type="number" min= 0 placeholder="category"
						class="form-control input-md" required=""> <span
						class="help-block">Categoria del elemento</span>
				</div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton"
						class="btn btn-primary">Editar</button>
				</div>
			</div>

		</fieldset>
	</form>

</div>





	<!-- Optional JavaScript; choose one of the two! -->

	
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>